<div class="row mb-3">
    <div class="col-md-12">
        <h2 class="border-bottom pb-2">Últimas Postagens</h2>
    </div>
</div>

<div class="row">
    {{#each posts}}
        <div class="col-md-6"> <div class="card card-custom p-3 h-100">
                <div class="card-body">
                    <h4 class="card-title">{{titulo}}</h4>
                    <p class="card-text text-secondary">{{conteudo}}</p>
                    <small class="text-muted">Data: {{data}}</small>
                </div>
            </div>
        </div>
    {{else}}
        <div class="col-12">
            <div class="alert alert-warning">Nenhuma postagem encontrada!</div>
        </div>
    {{/each}}
</div>
